<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <h1>
        URL Shortner
    </h1>

    <div>
        <form method="POST" action="/url/">
            <label for="">Enter Your Originl URL</label>
            <input type="text" placeholder="https://example@gmail.com" name="url" id="">
            <button type="submit">Generate</button>
        </form>
    </div>
</body>

</html>