<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/user/login" method="post">
        <label for="name">Email</label>
        <input type="text" required name="email" id="">
        <label for="name">Password</label>
        <input type="text" required name="password" id="">

        <button type="submit">Login</button>
    </form>
</body>

</html>