<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>Signup</h1>
    <form action="/user" method="post">
        <label for="name">Name</label>
        <input type="text" required name="name" id="">
        <label for="email">Email</label>
        <input type="text" required name="email" id="">
        <label for="password">Password</label>
        <input type="text" required name="password" id="">

        <button type="submit">Signup</button>
    </form>
</body>

</html>